.nav-container{
    transition:
        min-height .35s ease,
        padding .35s ease;
}

.logo img{
    transition:
        width .35s ease,
        height .35s ease,
        transform .35s ease,
        box-shadow .35s ease;
}
header.scrolled .nav-container{
    min-height:76px;
}

header.scrolled .logo img{
    width:58px;
    height:58px;
}
.nav-container{
    min-height:90px;
}